<%= if @current_user == nil do %>
    <span><%= link "Back", to: Routes.page_path(@conn, :index), class: "btn btn-primary" %></span>
<% else %>
    <span><%= link "Back", to: Routes.user_path(@conn, :index), class: "btn btn-primary" %></span>
<% end %>
<div class="card card-green mt-2">
  <h3 class="card-header">New User</h3>
  <div class="card-body">
    <%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>
  </div>
</div>
